.howtoplay {
  background-image: linear-gradient(to right, #5a02ad, #4d72e8);
  padding: 30px;
  margin-top: 30px;
  color: #fff;
  text-align: center;

  .nums {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .m-img {
    width: 140px;
    margin-bottom: 40px;
  }

  .text {
    text-align: center;
  }
}
