.card {
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-bottom: 20px;
  padding: 18px 6px;
  overflow: hidden;
  box-shadow: 3px 2px 10px #ccc;

  .wales {
    padding: 0px;
  }

  .game {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0px;

    span {
      font-weight: 300;
    }
  }

  .btn {
    background-color: #30005d;
    color: #fff;
  }

  .col-md-6 {
    padding: 0px 8px;
  }
}
